body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

li {
    color: rgb(20, 56, 93);
}

.app {
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(170, 210, 250);
}

button:focus {
    border: none;
}

button {
    border: none;
}
